<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        
        <title>Add category</title>
    </head>
<body style="background-color:rgb(54, 72, 94);">

    <div class="container d-flex justify-content-center">
    <form method ="post" action ="/add/product">
        <div class="mb-3">
          <input name="p_name" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Product Name" required/>
        </div>
        <div class="mb-3">
            <input name="p_price" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Product Price" required/>
          </div>
          <div class="mb-3">
            <input name="p_quantity" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Product Quantity" required/>
          </div>
          <div class="mb-3">
            <input name="p_unit" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Product Unit" required/>
          </div>

          <div class="mb-3">


            <label>Select Category:</label>
            <select name = "c_id">
            {%for one in cats%}
            <option value="{{one['id']}}">{{one['cat_name']}}</option>
            {%endfor%}
            </select>


          </div>
        <button type="submit" class="btn btn-primary">ADD</button>
        <a href="/inventory/Admin">
        <button type="button" class="btn btn-primary">BACK</button>
        </a>
      </form>
    </div>
</body>
</html>